#todoListApp {
    margin-top: 10px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 2px 5px 1px #0F0F0F;
    box-shadow: 0 2px 5px 1px #0F0F0F;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

h2 {
    display: inline-block;
    margin-right: 20px;
}